@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

body {
  margin: 30px;
  font-family: "Roboto", sans-serif;
}

h3 {
  display: inline-block;
  margin: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

label {
  margin-top: 30px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  display: block;
  background-color: white;
  outline: none;
  border: 1px solid black;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: pointer;
}

button:hover {
  background-color: #d8d8d8;
}

button:active {
  background-color: black;
  color: white;
}

.copy {
  color: #364958;
  cursor: pointer;
  transition: color 300ms ease;
}

.copy:hover {
  color: #55828B;
}

.copied-tooltip {
  opacity: .75;
  background-color: #364958;
  color: white;
  padding: 10px;
  border: solid 1px black;
  position: absolute;
  border-radius: 3px;
  transition: opacity 500ms ease;
}

.output {
  font-size: 12px;
  white-space: pre-wrap;
  display: inline-block;
  outline: solid 1px #d8d8d8;
  border-radius: 3px;
  padding: 20px;
  margin: none;
}

.deletion {
  background-color: #A3494F;
  color: white;
}

pre {
  position: absolute;
  left: -2000px;
  top: -2000px;
  opacity: 0;
  pointer-events: none;
  z-index: -100;
}
